In [1]:
simpDat=[]
with open('/Users/livi/Documents/2020 Fall/data mining/Project 1/FP-and-APRIORI/Example_data.txt', 'r') as f:
    for line in f.readlines():
        L=line.split(',')
        L[-1]=L[-1].replace('\n','')
        simpDat.append(L)

In [5]:
import pandas as pd
import itertools

'''
Get Seed and repeat
'''
# Generate seed C1
def createC1(dataSet):
    C1 = []
    for transaction in dataSet:
        for item in transaction:
            if not [item] in C1:
                C1.append([item])
    C1.sort()
    return [frozenset(i) for i in C1]


#Scan through datasets, remove the ones below min support
def scanD(D, Ck, minSupport):
    # Generate counts for the C
    #print('D',D)
    #print('Ck',Ck)
    ssCnt = {}
    for tid in D:
        for can in Ck:
            if can.issubset(tid):
                if can not in ssCnt:
                    ssCnt[can] = 1
                else:
                    ssCnt[can] += 1
    #print('Cn with count:',pd.DataFrame.from_dict(ssCnt,orient='index'))
    
    # Check weather meet minimum support or not, remove the ones below
    numItems = float(len(D))
    retList = []
    supportData = {}
    for key in ssCnt:
        support = ssCnt[key]
        #print('support',support,'min_support',minSupport,'Bool',support >= minSupport)
        if support >= minSupport*numItems:
            retList.insert(0, key)
            supportData[key] = support
    #print('supportData:',pd.DataFrame.from_dict(supportData,orient='index'))
    #print('-'*30)
    return retList, supportData

def notRedundant(mergedlist,Lkm1,km1,l1,l2):
    sub_mergedlist=[set(i) for i in itertools.combinations(mergedlist,km1) if set(i) not in [l1,l2]]
    for i in sub_mergedlist:
        if i not in Lkm1:
            return False
    return True


#Generate Ck according to Lk
def aprioriGen(Lk, k):
    #print('AprioriGen Lk',Lk)
    #print('AprioriGen k',k)
    retList = []
    lenLk = len(Lk)
    for i in range(lenLk):
        for j in range(i+1, lenLk):
            L1 = list(Lk[i])[: k-2]
            L2 = list(Lk[j])[: k-2]
            L1.sort()
            L2.sort()
            #If the all elements exept the last are same, merge two elements
            if L1 == L2:
                mergedlist=Lk[i] | Lk[j]
                #print('---------',mergedlist,k-1)
                if notRedundant(mergedlist,Lk,k-1,Lk[i],Lk[j]):
                    retList.append(mergedlist)
                #else:
                #    print('----Remove-----',mergedlist,k-1)
    return retList


def apriori(dataSet, minSupport=0.5):
    #Generate C1 
    C1 = createC1(dataSet)
    D=list(map(set,dataSet))
    #print('C1',C1)
    L1, supportData = scanD(D, C1, minSupport)

    #print('supportData',pd.DataFrame(supportData.values(),supportData.keys()))
    #print('L1',(L1))
    #print('------Seed------'*5,'\n')

    #repeatively generate L and C
    L = [L1]
    k = 2 #help to put values in L
    while (len(L[k-2]) > 0):
        #print('L_',k-2,L[k-2])
        Ck = aprioriGen(L[k-2], k) 
        #print(pd.DataFrame({'Ck':Ck}))
        Lk, supK = scanD(D, Ck, minSupport) 
        #print(pd.DataFrame(supK.values(),supK.keys()))
        supportData.update(supK)
        #print('*'*10)
        if len(Lk) == 0:
            break
        # all the Lk generated along the way are put into L.
        L.append(Lk)
        k += 1
    return L, supportData


'''
Mine Association Rule
'''
def calcConf(freqSet, H, supportData, brl, minConf=0.7):
    prunedH = []
    for conseq in H:
        conf = supportData[freqSet]/supportData[freqSet-conseq]
        #print('freqSet:',freqSet)
        #print('conseq:',conseq)
        #print('freqSet-conseq',freqSet-conseq)
        #print('conf:',conf)
        if conf >= minConf:
            #print(freqSet-conseq, '-->', conseq, 'conf:', conf)
            brl.append((freqSet,freqSet-conseq, conseq,supportData[freqSet-conseq],supportData[freqSet],supportData[conseq]))
            prunedH.append(conseq)
    return prunedH

def rulesFromConseq(freqSet, H, supportData, brl, minConf=0.7):
    m = len(H[0])
    #print('*'*10*m,'H[0]',H[0])
    #print('H:',H)
    if (len(freqSet) >(m+1)):
        H = calcConf(freqSet, H, supportData, brl, minConf)
        Hmp1 = aprioriGen(H, m+1)
        #print('*'*20*m,Hmp1)
        Hmp1 = calcConf(freqSet, Hmp1, supportData, brl, minConf)
        #print('Hmp1=', Hmp1)
        #print('len(Hmp1)=', len(Hmp1), 'len(freqSet)=', len(freqSet))
        if (len(Hmp1) >= 1):
            rulesFromConseq(freqSet, Hmp1, supportData, brl, minConf)

# Generate Association rules
def generateRules(L, supportData, minConf=0.7):
    allo=[[] for i in range(max([len(i) for i in L]))]
    [allo[len(i)-1].append(i) for i in L]
    L=allo
    bigRuleList = []
    for i in range(1, len(L)):
        for freqSet in L[i]:#wont calculate with frequent item=1
            H1 = [frozenset([item]) for item in freqSet]
            #print('H1',H1)
            if (i > 1):#if only has two items, no need to split the relation
                rulesFromConseq(freqSet, H1, supportData, bigRuleList, minConf)
            else:
                calcConf(freqSet, H1, supportData, bigRuleList, minConf)
            #print('-'*30)
    return bigRuleList

def printrules(rules,total):
    C=['Frequent Itemset(AUB)','From(A)','To(B)','Confident Number(num of A)','Support Number(num of AUB)','Support Number(num of B)']
    Ruletable=pd.DataFrame(rules)
    Ruletable.columns=C
    Ruletable['Confidence']=Ruletable['Support Number(num of AUB)']/Ruletable['Confident Number(num of A)']
    Ruletable['Support']=Ruletable['Support Number(num of AUB)']/total
    Ruletable['Lift']=Ruletable['Support Number(num of AUB)']/Ruletable['Support Number(num of B)']
    #print(Ruletable.shape)
    Ruletable.drop_duplicates(inplace=True)
    Ruletable.reset_index(drop=True,inplace=True)
    #print(Ruletable.shape)
    return Ruletable

def printsupport(S):
    S_table=pd.DataFrame.from_dict(S,orient='index').reset_index()
    S_table.columns=['itemset','support']
    S_table
    return S_table


#partition
def partition(fulldataSet,n,minSupport):#n specific how many partitions you want
    split=[i for i in range(0,len(fulldataSet),round(len(fulldataSet)/n))]
    A=[(split[i],split[i+1]) if i+1!=len(split) else (split[i],len(fulldataSet)) for i in range(len(split))]
    partitionL=set()
    #print(partitionL)
    for i in A:
        LI,_ = apriori(fulldataSet[i[0]:i[1]], minSupport)
        for sublist in LI:
            for item in sublist:
                partitionL.add(item)
    #print(len(partitionL))
    alllist, allsupport=scanD(fulldataSet,list(partitionL),minSupport)
    return alllist,allsupport

if __name__ == "__main__":
    simpDat = [['I1','I2','I5'],['I2','I4'],['I2','I3'],['I1','I2','I4'],['I1','I3'],['I2','I3'],['I1','I3'],['I1','I2','I3','I5'],['I1','I2','I3']]
    #LI, S = apriori(simpDat, minSupport=0.5)
    #print(LI)
    LI,S=partition(simpDat,3,minSupport=1.9/9)
    print(printsupport(S))
    rules = generateRules(LI, S, minConf=0)
    print(printrules(rules,len(simpDat)))

         itemset  support
0       (I5, I1)        2
1   (I5, I1, I2)        2
2       (I5, I2)        2
3       (I2, I1)        4
4           (I5)        2
5           (I1)        6
6           (I2)        7
7       (I2, I4)        2
8           (I4)        2
9       (I3, I2)        4
10          (I3)        6
11      (I3, I1)        4
12  (I2, I1, I3)        2
   Frequent Itemset(AUB)   From(A)     To(B)  Confident Number(num of A)  \
0               (I3, I1)      (I1)      (I3)                           6
1               (I3, I1)      (I3)      (I1)                           6
2               (I3, I2)      (I2)      (I3)                           7
3               (I3, I2)      (I3)      (I2)                           6
4               (I2, I4)      (I4)      (I2)                           2
5               (I2, I4)      (I2)      (I4)                           7
6               (I2, I1)      (I1)      (I2)                           6
7               (I2, I1)      (I2)      (I1)                           7
8               (I5, I2)      (I2)      (I5)                           7
9               (I5, I2)      (I5)      (I2)                           2
10              (I5, I1)      (I1)      (I5)                           6
11              (I5, I1)      (I5)      (I1)                           2
12          (I2, I1, I3)  (I1, I3)      (I2)                           4
13          (I2, I1, I3)  (I2, I3)      (I1)                           4
14          (I2, I1, I3)  (I2, I1)      (I3)                           4
15          (I2, I1, I3)      (I3)  (I2, I1)                           6
16          (I2, I1, I3)      (I1)  (I2, I3)                           6
17          (I2, I1, I3)      (I2)  (I1, I3)                           7
18          (I5, I1, I2)  (I1, I2)      (I5)                           4
19          (I5, I1, I2)  (I5, I2)      (I1)                           2
20          (I5, I1, I2)  (I5, I1)      (I2)                           2
21          (I5, I1, I2)      (I2)  (I5, I1)                           7
22          (I5, I1, I2)      (I1)  (I5, I2)                           6
23          (I5, I1, I2)      (I5)  (I1, I2)                           2

    Support Number(num of AUB)  Support Number(num of B)  Confidence  \
0                            4                         6    0.666667
1                            4                         6    0.666667
2                            4                         6    0.571429
3                            4                         7    0.666667
4                            2                         7    1.000000
5                            2                         2    0.285714
6                            4                         7    0.666667
7                            4                         6    0.571429
8                            2                         2    0.285714
9                            2                         7    1.000000
10                           2                         2    0.333333
11                           2                         6    1.000000
12                           2                         7    0.500000
13                           2                         6    0.500000
14                           2                         6    0.500000
15                           2                         4    0.333333
16                           2                         4    0.333333
17                           2                         4    0.285714
18                           2                         2    0.500000
19                           2                         6    1.000000
20                           2                         7    1.000000
21                           2                         2    0.285714
22                           2                         2    0.333333
23                           2                         4    1.000000

     Support      Lift
0   0.444444  0.666667
1   0.444444  0.666667
2   0.444444  0.666667
3   0.444444  0.571429
4   0.222222  0.285714
5   0.222222  1.000000
6   0.444444  0.571429
7   0.444444  0.666667
8   0.222222  1.000000
9   0.222222  0.285714
10  0.222222  1.000000
11  0.222222  0.333333
12  0.222222  0.285714
13  0.222222  0.333333
14  0.222222  0.333333
15  0.222222  0.500000
16  0.222222  0.500000
17  0.222222  0.500000
18  0.222222  1.000000
19  0.222222  0.333333
20  0.222222  0.285714
21  0.222222  1.000000
22  0.222222  1.000000
23  0.222222  0.500000

In [3]:
printsupport(S)

         itemset  support
0       (I5, I1)        2
1   (I5, I1, I2)        2
2       (I5, I2)        2
3       (I2, I1)        4
4           (I5)        2
5           (I1)        6
6           (I2)        7
7       (I2, I4)        2
8           (I4)        2
9       (I3, I2)        4
10          (I3)        6
11      (I3, I1)        4
12  (I2, I1, I3)        2

In [4]:
printrules(rules,len(simpDat))

,Frequent Itemset(AUB),From(A),To(B),Confident Number(num of A),Support Number(num of AUB),Support Number(num of B),Confidence,Support,Lift
0,"(I3, I1)",(I1),(I3),6,4,6,0.666667,0.444444,0.666667
1,"(I3, I1)",(I3),(I1),6,4,6,0.666667,0.444444,0.666667
2,"(I3, I2)",(I2),(I3),7,4,6,0.571429,0.444444,0.666667
3,"(I3, I2)",(I3),(I2),6,4,7,0.666667,0.444444,0.571429
4,"(I2, I4)",(I4),(I2),2,2,7,1.000000,0.222222,0.285714
5,"(I2, I4)",(I2),(I4),7,2,2,0.285714,0.222222,1.000000
6,"(I2, I1)",(I1),(I2),6,4,7,0.666667,0.444444,0.571429
7,"(I2, I1)",(I2),(I1),7,4,6,0.571429,0.444444,0.666667
8,"(I5, I2)",(I2),(I5),7,2,2,0.285714,0.222222,1.000000
9,"(I5, I2)",(I5),(I2),2,2,7,1.000000,0.222222,0.285714
10,"(I5, I1)",(I1),(I5),6,2,2,0.333333,0.222222,1.000000
11,"(I5, I1)",(I5),(I1),2,2,6,1.000000,0.222222,0.333333
12,"(I2, I1, I3)","(I1, I3)",(I2),4,2,7,0.500000,0.222222,0.285714
13,"(I2, I1, I3)","(I2, I3)",(I1),4,2,6,0.500000,0.222222,0.333333
14,"(I2, I1, I3)","(I2, I1)",(I3),4,2,6,0.500000,0.222222,0.333333
15,"(I2, I1, I3)",(I3),"(I2, I1)",6,2,4,0.333333,0.222222,0.500000
16,"(I2, I1, I3)",(I1),"(I2, I3)",6,2,4,0.333333,0.222222,0.500000
17,"(I2, I1, I3)",(I2),"(I1, I3)",7,2,4,0.285714,0.222222,0.500000
18,"(I5, I1, I2)","(I1, I2)",(I5),4,2,2,0.500000,0.222222,1.000000
19,"(I5, I1, I2)","(I5, I2)",(I1),2,2,6,1.000000,0.222222,0.333333
20,"(I5, I1, I2)","(I5, I1)",(I2),2,2,7,1.000000,0.222222,0.285714
21,"(I5, I1, I2)",(I2),"(I5, I1)",7,2,2,0.285714,0.222222,1.000000
22,"(I5, I1, I2)",(I1),"(I5, I2)",6,2,2,0.333333,0.222222,1.000000
23,"(I5, I1, I2)",(I5),"(I1, I2)",2,2,4,1.000000,0.222222,0.500000

In [44]:

sortedLI=sorted(LI,key=lambda x: len(x))

In [35]:
print(LI[0])

[frozenset({'High'}), frozenset({'capital_loss_1'}), frozenset({'White'}), frozenset({'capital_gain_1'}), frozenset({'United-States'}), frozenset({'Private'}), frozenset({'Male'}), frozenset({'<=50K.'})]

In [18]:
TEST=printsupport(S)
TEST['leng']=[len(i) for i in TEST['itemset']]
TEST[TEST['leng']==1]

             itemset  support  leng
2           (<=50K.)    12435     1
3          (Private)    11210     1
8    (United-States)    14662     1
11  (capital_gain_1)    14958     1
13            (Male)    10860     1
21  (capital_loss_1)    15517     1
52           (White)    13946     1
63            (High)     8843     1

In [3]:
split=[i for i in range(0,len(dataSet),round(len(dataSet)/3))]
A=[(split[i],split[i+1]) if i+1!=len(split) else (split[i],len(dataSet)) for i in range(len(split))]
partitionL=[]
#print(partitionL)
for i in A:
    sub_dataset=dataSet[i[0]:i[1]]
    LI,_ = apriori(sub_dataset, minSupport=1.9/9)
    flat_list = [item for sublist in LI for item in sublist]
    partitionL=partitionL+flat_list
print(len(set(partitionL)))
print('***last scan***'*8)
alllist, allsupport=scanD(dataSet,list(set(partitionL)),1.9/9)
'''
#print(pd.DataFrame({'key':allsupport.keys(),'value':allsupport.values()}))
print(pd.DataFrame(allsupport.values(),allsupport.keys()))'''

D [{'I5', 'I2', 'I1'}, {'I4', 'I2'}, {'I2', 'I3'}]
Ck [frozenset({'I1'}), frozenset({'I2'}), frozenset({'I3'}), frozenset({'I4'}), frozenset({'I5'})]
Cn with count:       0
(I1)  1
(I2)  3
(I5)  1
(I4)  1
(I3)  1
supportData:              0
(I1)  0.333333
(I2)  1.000000
(I5)  0.333333
(I4)  0.333333
(I3)  0.333333
------------------------------
D [{'I5', 'I2', 'I1'}, {'I4', 'I2'}, {'I2', 'I3'}]
Ck [frozenset({'I4', 'I3'}), frozenset({'I5', 'I3'}), frozenset({'I2', 'I3'}), frozenset({'I1', 'I3'}), frozenset({'I4', 'I5'}), frozenset({'I4', 'I2'}), frozenset({'I4', 'I1'}), frozenset({'I5', 'I2'}), frozenset({'I5', 'I1'}), frozenset({'I2', 'I1'})]
Cn with count:           0
(I5, I2)  1
(I5, I1)  1
(I2, I1)  1
(I4, I2)  1
(I2, I3)  1
supportData:                  0
(I5, I2)  0.333333
(I5, I1)  0.333333
(I2, I1)  0.333333
(I4, I2)  0.333333
(I2, I3)  0.333333
------------------------------
D [{'I5', 'I2', 'I1'}, {'I4', 'I2'}, {'I2', 'I3'}]
Ck [frozenset({'I5', 'I2', 'I1'})]
Cn with count:               0
(I5, I2, I1)  1
supportData:                      0
(I5, I2, I1)  0.333333
------------------------------
D [{'I5', 'I2', 'I1'}, {'I4', 'I2'}, {'I2', 'I3'}]
Ck []
Cn with count: Empty DataFrame
Columns: []
Index: []
supportData: Empty DataFrame
Columns: []
Index: []
------------------------------
D [{'I4', 'I2', 'I1'}, {'I3', 'I1'}, {'I2', 'I3'}]
Ck [frozenset({'I1'}), frozenset({'I2'}), frozenset({'I3'}), frozenset({'I4'})]
Cn with count:       0
(I1)  2
(I2)  2
(I4)  1
(I3)  2
supportData:              0
(I1)  0.666667
(I2)  0.666667
(I4)  0.333333
(I3)  0.666667
------------------------------
D [{'I4', 'I2', 'I1'}, {'I3', 'I1'}, {'I2', 'I3'}]
Ck [frozenset({'I4', 'I3'}), frozenset({'I2', 'I3'}), frozenset({'I1', 'I3'}), frozenset({'I4', 'I2'}), frozenset({'I4', 'I1'}), frozenset({'I2', 'I1'})]
Cn with count:           0
(I4, I2)  1
(I4, I1)  1
(I2, I1)  1
(I1, I3)  1
(I2, I3)  1
supportData:                  0
(I4, I2)  0.333333
(I4, I1)  0.333333
(I2, I1)  0.333333
(I1, I3)  0.333333
(I2, I3)  0.333333
------------------------------
D [{'I4', 'I2', 'I1'}, {'I3', 'I1'}, {'I2', 'I3'}]
Ck [frozenset({'I1', 'I2', 'I3'}), frozenset({'I4', 'I2', 'I1'})]
Cn with count:               0
(I4, I2, I1)  1
supportData:                      0
(I4, I2, I1)  0.333333
------------------------------
D [{'I4', 'I2', 'I1'}, {'I3', 'I1'}, {'I2', 'I3'}]
Ck []
Cn with count: Empty DataFrame
Columns: []
Index: []
supportData: Empty DataFrame
Columns: []
Index: []
------------------------------
D [{'I3', 'I1'}, {'I3', 'I5', 'I2', 'I1'}, {'I3', 'I2', 'I1'}]
Ck [frozenset({'I1'}), frozenset({'I2'}), frozenset({'I3'}), frozenset({'I5'})]
Cn with count:       0
(I1)  3
(I3)  3
(I2)  2
(I5)  1
supportData:              0
(I1)  1.000000
(I3)  1.000000
(I2)  0.666667
(I5)  0.333333
------------------------------
D [{'I3', 'I1'}, {'I3', 'I5', 'I2', 'I1'}, {'I3', 'I2', 'I1'}]
Ck [frozenset({'I5', 'I2'}), frozenset({'I5', 'I3'}), frozenset({'I5', 'I1'}), frozenset({'I2', 'I3'}), frozenset({'I2', 'I1'}), frozenset({'I1', 'I3'})]
Cn with count:           0
(I1, I3)  3
(I5, I2)  1
(I5, I3)  1
(I5, I1)  1
(I2, I3)  2
(I2, I1)  2
supportData:                  0
(I1, I3)  1.000000
(I5, I2)  0.333333
(I5, I3)  0.333333
(I5, I1)  0.333333
(I2, I3)  0.666667
(I2, I1)  0.666667
------------------------------
D [{'I3', 'I1'}, {'I3', 'I5', 'I2', 'I1'}, {'I3', 'I2', 'I1'}]
Ck [frozenset({'I3', 'I2', 'I1'}), frozenset({'I3', 'I5', 'I1'}), frozenset({'I5', 'I2', 'I1'}), frozenset({'I5', 'I2', 'I3'})]
Cn with count:               0
(I3, I2, I1)  2
(I3, I5, I1)  1
(I5, I2, I1)  1
(I5, I2, I3)  1
supportData:                      0
(I3, I2, I1)  0.666667
(I3, I5, I1)  0.333333
(I5, I2, I1)  0.333333
(I5, I2, I3)  0.333333
------------------------------
D [{'I3', 'I1'}, {'I3', 'I5', 'I2', 'I1'}, {'I3', 'I2', 'I1'}]
Ck [frozenset({'I3', 'I1', 'I5', 'I2'})]
Cn with count:                   0
(I3, I1, I5, I2)  1
supportData:                          0
(I3, I1, I5, I2)  0.333333
------------------------------
D [{'I3', 'I1'}, {'I3', 'I5', 'I2', 'I1'}, {'I3', 'I2', 'I1'}]
Ck []
Cn with count: Empty DataFrame
Columns: []
Index: []
supportData: Empty DataFrame
Columns: []
Index: []
------------------------------
19
***last scan******last scan******last scan******last scan******last scan******last scan******last scan******last scan***
D [['I1', 'I2', 'I5'], ['I2', 'I4'], ['I2', 'I3'], ['I1', 'I2', 'I4'], ['I1', 'I3'], ['I2', 'I3'], ['I1', 'I3'], ['I1', 'I2', 'I3', 'I5'], ['I1', 'I2', 'I3']]
Ck [frozenset({'I3', 'I1', 'I5', 'I2'}), frozenset({'I2'}), frozenset({'I3', 'I5', 'I1'}), frozenset({'I1'}), frozenset({'I2', 'I3'}), frozenset({'I4', 'I2'}), frozenset({'I4', 'I2', 'I1'}), frozenset({'I3'}), frozenset({'I1', 'I3'}), frozenset({'I5', 'I2', 'I3'}), frozenset({'I2', 'I1'}), frozenset({'I5'}), frozenset({'I4', 'I1'}), frozenset({'I5', 'I1'}), frozenset({'I5', 'I2'}), frozenset({'I5', 'I2', 'I1'}), frozenset({'I3', 'I2', 'I1'}), frozenset({'I5', 'I3'}), frozenset({'I4'})]
Cn with count:                   0
(I2)              7
(I1)              6
(I2, I1)          4
(I5)              2
(I5, I1)          2
(I5, I2)          2
(I5, I2, I1)      2
(I4, I2)          2
(I4)              2
(I2, I3)          4
(I3)              6
(I4, I2, I1)      1
(I4, I1)          1
(I1, I3)          4
(I3, I1, I5, I2)  1
(I3, I5, I1)      1
(I5, I2, I3)      1
(I3, I2, I1)      2
(I5, I3)          1
supportData:                      0
(I2)          0.777778
(I1)          0.666667
(I2, I1)      0.444444
(I5)          0.222222
(I5, I1)      0.222222
(I5, I2)      0.222222
(I5, I2, I1)  0.222222
(I4, I2)      0.222222
(I4)          0.222222
(I2, I3)      0.444444
(I3)          0.666667
(I1, I3)      0.444444
(I3, I2, I1)  0.222222
------------------------------

"\n#print(pd.DataFrame({'key':allsupport.keys(),'value':allsupport.values()}))\nprint(pd.DataFrame(allsupport.values(),allsupport.keys()))"

In [4]:
def printtable(support):
    subdatasetrun=pd.DataFrame.from_dict(support,orient='index')
    subdatasetrun.reset_index(inplace=True)
    c=['itemset','support']
    subdatasetrun.columns=c
    subdatasetrun['len']=[len(i) for i in subdatasetrun['itemset']]
    return subdatasetrun.sort_values('len').reset_index(drop=True)

In [5]:
printtable(S)

         itemset   support  len
0           (I1)  0.666667    1
1           (I2)  0.777778    1
2           (I5)  0.222222    1
3           (I4)  0.222222    1
4           (I3)  0.666667    1
5       (I5, I2)  0.222222    2
6       (I5, I1)  0.222222    2
7       (I2, I1)  0.444444    2
8       (I4, I2)  0.222222    2
9       (I2, I3)  0.444444    2
10      (I1, I3)  0.444444    2
11  (I5, I2, I1)  0.222222    3
12  (I1, I2, I3)  0.222222    3

In [6]:
printtable(allsupport)

         itemset   support  len
0           (I2)  0.777778    1
1           (I1)  0.666667    1
2           (I5)  0.222222    1
3           (I4)  0.222222    1
4           (I3)  0.666667    1
5       (I2, I1)  0.444444    2
6       (I5, I1)  0.222222    2
7       (I5, I2)  0.222222    2
8       (I4, I2)  0.222222    2
9       (I2, I3)  0.444444    2
10      (I1, I3)  0.444444    2
11  (I5, I2, I1)  0.222222    3
12  (I3, I2, I1)  0.222222    3

In [9]:
all([S[i]==allsupport[i] for i in S if i in allsupport])

True