In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import itertools

# Data Preprocessing

In [2]:
census=pd.read_csv('/Users/livi/Documents/2020 Fall/data mining/Project 1/adult.test',delimiter=', ', header=1)
n='age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income'.split(',')
box=census.columns
census.columns=n
census.loc[-1]=box
census.index=census.index+1
census=census.sort_index()
print(census.shape)
census.head()
#census.head().to_csv('Rawcensus.csv')

(16281, 15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0.1,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [3]:
for col in list(census.columns):
    print(col+':',len(census[col].unique()))

age: 74
workclass: 9
fnlwgt: 12787
education: 16
education-num: 17
marital-status: 7
occupation: 15
relationship: 6
race: 5
sex: 2
capital-gain: 114
capital-loss: 83
hours-per-week: 90
native-country: 41
income: 2

In [4]:
'''numeric_columns=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
f = plt.figure(figsize=(15,8))
for i,col in enumerate(numeric_columns):
    ax=plt.subplot(2, 3,i+1)
    ax.hist(census[col].astype(float), bins=10)
    ax.set_xlabel(col)
    ax.set_ylabel('value')
#plt.savefig('distribution of numeric values.jpg')
plt.show()'''

"numeric_columns=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']\nf = plt.figure(figsize=(15,8))\nfor i,col in enumerate(numeric_columns):\n    ax=plt.subplot(2, 3,i+1)\n    ax.hist(census[col].astype(float), bins=10)\n    ax.set_xlabel(col)\n    ax.set_ylabel('value')\n#plt.savefig('distribution of numeric values.jpg')\nplt.show()"

In [5]:
def updateTable(LS,table,column,NV):
    new=[NV[0] if i in range(LS[0][0],LS[0][1]) else NV[1] if i in range(LS[1][0],LS[1][1]) else NV[2] for i in census[column].astype(int)]
    table[column]=new
    return table

In [6]:
LS=[(16,31),(31,51),(51)]
NV=['young_adult','adult','senior_adult']
census=updateTable(LS,census,'age',NV)

In [7]:
LS=[(13492, 139364), (139364, 211208), (211208, 1490400)]
NV=['A','B','C']
census=updateTable(LS,census,'fnlwgt',NV)

In [8]:
LS=[(1, 9), (9, 10), (10, 20)]
NV=['Basic','Medium','High']
census=updateTable(LS,census,'education-num',NV)

In [9]:
NV=['capital_gain_0','capital_gain_1']
new_capital_gain=[NV[0] if i!=0 else NV[1] for i in census['capital-gain'].astype(float)]
census['capital-gain']=new_capital_gain

In [10]:
NV=['capital_loss_0','capital_loss_1']
new_capital_loss=[NV[0] if i!=0 else NV[1] for i in census['capital-loss'].astype(float)]
census['capital-loss']=new_capital_loss

In [11]:
NV=['below 40','40','above 40']
new_hours=[NV[0] if i<40 else NV[1] if i==40 else NV[2] for i in census['hours-per-week'].astype(float)]
census['hours-per-week']=new_hours

In [12]:
census.head()
#census.head().to_csv('Cleanedcensus.csv')
census.head().to_clipboard()

In [13]:
for col in list(census.columns):
    print(col+':',len(census[col].unique()))

age: 3
workclass: 9
fnlwgt: 3
education: 16
education-num: 3
marital-status: 7
occupation: 15
relationship: 6
race: 5
sex: 2
capital-gain: 2
capital-loss: 2
hours-per-week: 3
native-country: 41
income: 2

In [14]:
'''numeric_columns=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']
f = plt.figure(figsize=(17,8))
for i,col in enumerate(numeric_columns):
    ax=plt.subplot(2, 3,i+1)
    ax.hist(census[col], bins=10)
    ax.set_xlabel(col)
    ax.set_ylabel('value')
#plt.savefig('distribution of cat values.jpg')
plt.show()'''

"numeric_columns=['age','fnlwgt','education-num','capital-gain','capital-loss','hours-per-week']\nf = plt.figure(figsize=(17,8))\nfor i,col in enumerate(numeric_columns):\n    ax=plt.subplot(2, 3,i+1)\n    ax.hist(census[col], bins=10)\n    ax.set_xlabel(col)\n    ax.set_ylabel('value')\n#plt.savefig('distribution of cat values.jpg')\nplt.show()"

In [15]:
#break everything to n parts
n=3
num_elements=round(len(census)/n)
print(num_elements)
elementsindex_range=[i for i in range(0,len(census),num_elements)]
print(elementsindex_range)
elementsindex_range1=elementsindex_range[1:]
elementsindex_range1.append(len(census)-1)
print(elementsindex_range1)
print([i for i in zip(elementsindex_range,elementsindex_range1)])

5427
[0, 5427, 10854]
[5427, 10854, 16280]
[(0, 5427), (5427, 10854), (10854, 16280)]

In [16]:
'''#test with different columns
sortedage=sorted(census['hours-per-week'].astype(int))
print([(sortedage[i],sortedage[k]) for i,k in zip(elementsindex_range,elementsindex_range1)])'''

"#test with different columns\nsortedage=sorted(census['hours-per-week'].astype(int))\nprint([(sortedage[i],sortedage[k]) for i,k in zip(elementsindex_range,elementsindex_range1)])"

In [17]:
#we need str data, otherwise there will be overlap. Numeric data need to be change to str data.
census.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16281 entries, 0 to 16280
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             16281 non-null  object
 1   workclass       16281 non-null  object
 2   fnlwgt          16281 non-null  object
 3   education       16281 non-null  object
 4   education-num   16281 non-null  object
 5   marital-status  16281 non-null  object
 6   occupation      16281 non-null  object
 7   relationship    16281 non-null  object
 8   race            16281 non-null  object
 9   sex             16281 non-null  object
 10  capital-gain    16281 non-null  object
 11  capital-loss    16281 non-null  object
 12  hours-per-week  16281 non-null  object
 13  native-country  16281 non-null  object
 14  income          16281 non-null  object
dtypes: object(15)
memory usage: 2.0+ MB

# Use the Example data and Mine data

In [18]:
 Example_data=np.array(census.astype(str))
''' Example_data=Example_data.tolist()
with open('Example_data.txt','w') as f:
    for i in Example_data:
        f.write(','.join(i))
        f.write('\n')'''

" Example_data=Example_data.tolist()\nwith open('Example_data.txt','w') as f:\n   for i in Example_data:\n       f.write(','.join(i))\n       f.write('\n')"

In [19]:
import MineApriori